@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  // Colors
  --clr-red: hsl(0, 100%, 66%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grayish-violet-300: hsl(270, 3%, 87%);
  --clr-grayish-violet-500: hsl(279, 6%, 55%);
  --clr-dark-violet: hsl(278, 68%, 11%);

  // Fonts
  --ff: "Space Grotesk", sans-serif;
  --fs: 16px;
  --fw-normal: 500;
}
